{% load static %}
<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Feedback</title>
      <link rel="stylesheet" href={% static "css/feedback.css"  %}>
      
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
    <div class="container">
        <div class="text">Request A call back</div>
        <form action="/feedback/" method="post">
          {% csrf_token %}
           <div class="form-row">
              <div class="input-data">
                <input type="text" value={{fname}} placeholder="Name " readonly required>
                <div class="underline"></div>
              </div>
              <div class="input-data">
                 <input type="text" name="fphone" placeholder="License No" required>
                 <div class="underline"></div>
                 
              </div>
           </div>
           <div class="form-row">
              <div class="input-data">
                 <input type="text" name="fmail" placeholder="Email id" required>
                 <div class="underline"></div>
                 
              </div>
              <div class="input-data">
                 <input type="text" name="fmsg" placeholder="Message" required>
                 <div class="underline"></div>
                
              </div>
           </div>
                 
                 <div class="form-row submit-btn">
                    <div class="input-data">
                       
                       <button type="submit" class="">Send</button>
                        <button><a href="/home" class="">BACK</a></button>
                    </div>
           </div>
        </form>
     </div>
   </body>
</html>