{% load static %}
<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Signup </title>
    <link rel="stylesheet" href={% static "css/signup.css"  %}>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
    
  <div class="container">
    <div class="title">USER REGISTRATION</div>
    <div class="content">
      <form action="/register/" method="post">
         {% csrf_token %}
        <div class="user-details">
          <div class="input-box">
            <span class="details">Name</span>
            <input type="text" name="rfname" placeholder="Enter Your Name" required>
          </div>
          <div class="input-box">
            <span class="details">Phone number</span>
            <input type="text" name="rcontact" placeholder="Enter Your Phone Number" required>
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" name="remail" placeholder="Enter Your Email" required>
          </div>
          <div class="input-box">
            <span class="details">Username</span>
            <input type="text" name="runame" placeholder="Enter Username" required>
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="password" name="rpass" placeholder="Enter Your Password" required>
          </div>
        </div>
        <div class="button">
            <input type="submit" value="Register">
        </div>
      </form>
      <div class="sign-txt">Already have an account? <a style="color: blue;" href="{% url 'login' %}">Login</a></div>
      <div class="sign-txt">Back to <a href="#">Home</a></div>
    </div>

  </div>
  

</body>
</html>
