{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href={% static "images/logo.png" %} type="image/x-icon">
    <!--REMIX ICONS-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/80c3c1081e.js" crossorigin="anonymous"></script>
    <!--SWIPER CSS-->
    <link rel="stylesheet" href={% static "css/swiper-bundle.min.css"  %}>
     <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap" rel="stylesheet">
      <!--CSS-->
    <link rel="stylesheet" href={% static "css/style.css"  %}>

   
    <title>ChargeSpot</title>
</head>
<body>
    <header class="header" id="header">
        <nav class="nav container">
            <a href="/index/" class="nav__logo">
                <img style="width: 20px; height: 20px" class="logo-img" src={% static "images/logo.png" %}  alt="">
                ChargeSpot
            </a>
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="/index/" class="nav__link active-link">Home</a>
                    </li>
                    <li class="nav__item">
                        <a href="/profile/" class="nav__link">Profile</a>
                    </li>
                    <li class="nav__item">
                        <a href="/feedback/" class="nav__link">Feedback</a>
                    </li>
                    <li class="nav__item">
                        <a href="/services" class="nav__link">Services</a>
                    </li>
                    <li class="nav__item">
                        <a href="/stations" class="nav__link">Stations</a>
                    </li>
                    <li class="nav__item">
                        <a href="/bookings" class="nav__link">bookings</a>
                    </li>
                    <li class="nav__item">
                        <a href="/index/" class="nav__link">logout</a>
                    </li>
                </ul>
                <div class="nav__close" id="nav-close">
                    <i class="ri-close-line"></i>
                </div>
            </div>
                <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-menu-line"></i>
               </div>
        </nav>
    </header>
    <main class="main">
        <section class="home section" id="home">
            <div class="shape shape__big"></div>
            <div class="shape shape__small"></div>
            <div class="home__container container grid">
                <div class="home__data">
                    <h1 class="home__title">chargespot guide</h1>
                    <h2 class="home__subtitle">Unlock Convenient Charging
                        Learn how to easily find and book the best EV charging station for your needs.</h2>
                    <h3 class="home__elec"><i class="ri-flashlight-fill"></i>EV</h3>
                </div>
                <img src={% static "images/tutorial.png"  %}  alt="home" class="home__img">
                <div class="home__car">
                    <div class="home__car-data">
                        <div class="home__car-icon">
                            <i class="ri-temp-cold-line"></i>
                        </div>
                        <h2 class="home__car-number">24°</h2>
                        <h3 class="home__car-name">TEMPERATURE</h3>
                    </div>
                
                
                    <div class="home__car-data">
                        <div class="home__car-icon">
                            <i class="ri-dashboard-3-line"></i>
                        </div>
                        <h2 class="home__car-number">873</h2>
                        <h3 class="home__car-name">MILEAGE</h3>
                    </div>
            
               
                    <div class="home__car-data">
                        <div class="home__car-icon">
                            <i class="ri-flashlight-fill"></i>
                        </div>
                        <h2 class="home__car-number">94%</h2>
                        <h3 class="home__car-name">BATTERY</h3>
                    </div>
                </div>
                <a href="#about" class="home__button">Start</a>
            </div>
        </section>
        <section class="about section" id="about">
            <div class="about__container container">
                    <div class="about__data">
                        <h1 class="">
                            A Guide to Charging Your Electric Vehicle <br> at Charging Stations
                        </h1>
                        <p class="about__description">
                            Say goodbye to the hassle of finding and booking EV charging slots! ChargeSpot, an innovative web application, makes charging your electric vehicle seamless and efficient.    
                        </p>

                        <h1 class="section__title about__title">
                            Get Started
                        </h1>
                        <p class="about__description">
                            Sign Up: Create an account <br>
                            Set Preferences: manage payment methods   
                        </p>

                        <h1 class="section__title about__title">
                            Find & Book Slots
                        </h1>
                        <p class="about__description">
                            Search Nearby Stations: Filter by location, charging type, or ratings. <br>
                            Real-Time Availability: Check slot occupancy and wait times. <br>
                            Reserve & Pay: Book your preferred slot and pay securely with cards or gpay,paytm wallets.   <br>
                        </p>

                        <h1 class="section__title about__title">
                            For Charging Station Operators
                        </h1>
                        <p class="about__description">
                            Manage Stations: Add or delete stations, configure slots, and set pricing. <br>
                            Monitor Analytics: Track bookings, peak times, and station performance. <br>
                            Stay Alert: Get notifications for maintenance and updates. <br>
   
                        </p>

                        <h1 class="section__title about__title">
                            Why ChargeSpot?
                        </h1>
                        <p class="about__description">
                            User-Friendly: An intuitive interface for both EV owners and operators. <br>
                            Efficient: Minimize wait times with real-time updates. <br>
                            Data-Driven: Optimize operations with detailed analytics.    <br>
                        </p>

                        <a href="/index/" class="button">Home</a>
                    </div>

                
            </div>
        </section>
        
        
        <section class="featured section" id="featured">
            <div class="container">
              </div>
        </section>
       
    </main>
    <footer class="footer section">
        <div class="shape shape__big"></div>
        <div class="shape shape__small"></div>
        <div class="footer__container container grid">
            <div class="footer__content">
                <a href="#" class="footer__logo">
                    <!-- <i class="ri-steering-line"></i> -->
                    <img style="width: 20px; height: 20px" class="logo-img" src={% static "./images/logo.png"  %}  alt="">
                    ChargeSpot
                </a>
                <p class="footer__description">Top global EV brands?<br>
                    Secure your charging slots<br>
                    with ease!</p>
            </div>
            <div class="footer__content">
                <h3 class="footer__title">Services & Support</h3>
                <ul class="footer__links">
                    <li><a href="/tutorial" class="footer__link">Help Center</a></li>
                    <li><a href="/feedback" class="footer__link">Contact Us</a></li>
                </ul>
            </div>
            <div class="footer__content">
                <h3 class="footer__title">Follow us</h3>
                <ul class="footer___social">
                    <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
                        <i class="ri-facebook-fill"></i>
                    </a>
                    <a href="https://www.instagram.com/" target="_blank" class="footer__social-link">
                        <i class="ri-instagram-line"></i>
                    </a>
                    <a href="https://twitter.com/" target="_blank" class="footer__social-link">
                        <i class="ri-twitter-line"></i>
                    </a>
                </ul>             
            </div>
        </div>    
        <span class="footer__copy">&#169; All rigths reserveds.</span>   
    </footer>
    <a href="#" class="scrollup" id="scroll-up">
        <i class="ri-arrow-up-line"></i>
    </a>

    <script src="{% static "js/scrollreveal.min.js"  %}"></script>
    <script src="{% static "js/swiper-bundle.min.js"  %}"></script>
    <script src="{% static "js/mixitup.min.js"  %}"></script>
    <script src="{% static "js/script.js"  %}"></script>

    
</body>
</html>
